<!DOCTYPE html>
<html lang="en">
<head>
    <title>virusmon project</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/app.css" rel="stylesheet">
    <script data-main="static/js/main" src="static/js/lib/require/require.js"></script>
</head>
<body>
<div class="container">
    <div id="head" class="row">
        <div class="span8"><h1>virusmon</h1></div>
        <div class="span4">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li><a href="#">Status</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="banner" class="row">
        <div class="span6"><h2>Computer Virus / Malware Monitoring Project. Using clamav for virus scanner, grab and parse the output, then send it to statistic collector.</h2></div>
        <div class="span6">
            <img src="static/img/virusmon_logo.png"/>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="box well">
                <h2>Download</h2>
                <p>Download virusmon for Windows.<p/> <p><a class="btn btn-inverse" href="#">Download</a></p>
            </div>
        </div>
        <div class="span4">
            <div class="box well">
                <h2>Contribute</h2>
                <p>virusmon is open source project. You can fork it in <a href="https://github.com/sakti/virusmon">here</a>.</p>
            </div>
        </div>
        <div class="span4">
            <div class="box well">
                <h2>Documentation</h2>
                <p>Check <a href="http://sakti.github.com/virusmon/doc/">documentation</a> to find help or looking for virusmon internal information.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12" id="footer">
            <p>&copy; 2012 Insan Infonesia</p>
        </div>
    </div>
</div>
</body>
</html>
